<div class="<%= Ecm::News::Configuration.news_item_preview_div_classes %>" id="<%= item.class.name.underscore.gsub('/', '-') %>-<%= item.to_param %>">
  <div class="media-left">
    <% if item.preview_picture.present? %>
      <%= link_to(item, class: Ecm::News::Configuration.news_item_preview_thumbnail_link_classes) do %>
        <img class="media-object thumbnail img-responsive" src="<%= item.preview_picture.image.url(:default_thumb) %>" alt="...">
      <% end %>
    <% else %>
      <%= content_tag(:div, nil, class: Ecm::News::Configuration.news_item_preview_thumbnail_link_classes) %>
    <% end %>
  </div>
  <div class="media-body">
    <h3 class="media-heading"><%= item.title %></h3>
    <div class="news-body truncate lines-<%= Ecm::News::Configuration.news_item_preview_lines %> bottom-margin-1">
      <%= mu(item, :body) %>
    </div>
    <div class="object-actions">
      <%= link_to(t('ecm.news.views.actions.more'), item, class: 'btn btn-primary') %>
    </div>
  </div>
</div>