= bootstrap_responsive_media_object(image_options: { src: item.preview_picture_image_url(:media_object) }, additional_div_container_classes: item.class.name.underscore.gsub('/', '-')) do
  %h4= item.title
  .news-body.truncate.lines-3.bottom-margin-1
    = mu(item, :body)
  = bootstrap_button(to: ecm_news.url_for(item)) do
    = t('.more')