<div class="news-item small-preview">
  <h4 class="item-title"><%= item.title %></h4>
  <% if Ecm::News::Configuration.show_publish_time %>
    <small class="item-published_at"><%= I18n.l(item.published_at) %></small>
  <% end %>
  <div class="item-body truncate lines-<%= Ecm::News::Configuration.news_item_preview_lines %> bottom-margin-2"><%= mu(item, :body) %></div>

  <div class="item-actions bottom-margin-2">
    <%= link_to(t('ecm.news.views.actions.more'), item, class: 'btn btn-primary more-link') %>
  </div>
</div>

