<div class="news-item small-preview news-item-<%= index %>">
  <h3 class="item-title"><%= item.title %></h3>
  <% if Ecm::News::Configuration.show_publish_time %>
    <small class="item-published_at"><%= I18n.l(item.published_at) %></small>
  <% end %>
  <div class="item-body truncate lines-<%= Ecm::News::Configuration.news_item_preview_lines %> bottom-margin-2"><%= mu(item, :body) %></div>

  <div class="item-actions bottom-margin-2">
    <%= link_to(t('ecm.news.views.actions.more'), main_app.url_for(item), class: 'btn btn-primary more-link') %>
  </div>
</div>

