- content_for :meta_description, t('.title')
- content_for :title, t('.title')
.row
  .col-lg-12
    %h1= t('.title')

  - @items.each_with_index do |item, index|
    = render partial: 'item_in_list', locals: { item: item, index: (index + 1) }

  .col-lg-12.text-center
    = paginate @items, theme: 'twitter-bootstrap-3'

  .col-lg-12
    .well.page-actions
      = bootstrap_button(to: main_app.root_path, context: 'secondary btn-default') do
        = t('.back')